/* ######### Drop Down ULs CSS ######### */


.ddsubmenustyle, .ddsubmenustyle ul{ /*topmost and sub ULs, respectively*/
font: normal 11px Verdana; width:605px; background-color: rgba(21,50,92,0.9);
margin: 0 0 0 -100px;
padding:0 0 0 0;
position: absolute;
left: 0;
top: 0;
list-style-type: none;

border-bottom:1px solid rgba(255,255,255,1);
border-right:1px solid rgba(255,255,255,1);
border-left:1px solid rgba(255,255,255,1);
/*border-top:1px solid rgba(45,45,45,1);*/
visibility: hidden;
z-index: 100;
}

.ddsubmenustyle li  { clear:both; width:805px;}
.ddsubmenustyle li a{ /*border-bottom:1px dashed rgba(0,0,0,.5); border-right:1px dashed rgba(0,0,0,.5);*/ float:left;
display: block;
width: 200px; /*width of menu (not including side paddings)*/
color: #fff;

line-height:18px;
vertical-align:middle;
height:18px;
font-size:11px;
text-decoration: none;
padding: 4px 0;

}
.ddsubmenustyle li a span { margin-left:5px;}

* html .ddsubmenustyle li{ /*IE6 CSS hack*/
display:block;
width: 170px; /*width of menu (include side paddings of LI A*/
}

.ddsubmenustyle li a:hover{
background-color:rgba(0,0,0,.5);
color: #fff;
}

/* ######### Neutral CSS  ######### */

.downarrowpointer{ /*CSS for "down" arrow image added to top menu items*/
padding-left: 4px;
border: 0;
}

.rightarrowpointer{ /*CSS for "right" arrow image added to drop down menu items*/
position: absolute;
padding-top: 3px;
left: 100px;
border: 0;
}

.ddiframeshim{
position: absolute;
z-index: 500;
background: transparent;
border-width: 0;
width: 0;
height: 0;
display: block;
}