
        <div class="searchbar">
            <div class="container">
                <div class="col-md-12">
                    <input type="text" id="batch_number" placeholder="Search for orders or shipments, e.g. Order OR235533" />
                    <i class="fa fa-search t" aria-hidden="true"></i>
                    <span class="bar"></span>
                </div>

                <div class="search_filter">
                    <p class="htitle">Filter by:</p>

                   <!--  <select id="type" class="hidden">
                        <option value="hide">Type</option>
                        <option value="2010">USA-NGA</option>
                        <option value="2011">NGA-USA</option>
                    </select> --> 

                    <!-- <div class="longselect">
                        <select id="Month">
                            <option value="hide">Date</option>
                            <option value="2010">January</option>
                            <option value="2010">February</option>
                            <option value="2010">March</option>
                            <option value="2010">May</option>
                            <option value="2010">June</option>
                            <option value="2010">July</option>
                            <option value="2011">August</option>
                            <option value="2012">Septmeber</option>
                            <option value="2013">October</option>
                            <option value="2013">November</option>
                            <option value="2013">December</option>
                        </select>
                    </div> -->

                    <div class="longselect">
                        <a id="search" class="btn btn-xs" style="margin:15px 0px 0px 15px; padding:0px 20px; font-size: 14px; min-width:100px; border-radius:12px; height:48px;">Search</a>
                    </div>
                </div>

            </div>
        </div>