<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends 'vei2018html/index.html' %}
{% load staticfiles %}


{% block top_div %}
{% endblock top_div %}

<!-- //w3-banner -->
{% block inner_content %}
<div class="navbar-top" style="background: grey;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
         <div class="navbar-brand logo">
             <img src="{% static 'vei2018Static/images/volkmann.jpg' %}" style="border-radius: 50%;height: 40px; margin-top: 20px; position: relative; left: 20px;">
        </div>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav link-effect-4">
        <li class="first-list"><a href="/">Home</a></li>
        <li><a href="/#about-volk">About</a></li>
        <li><a href="/#about-services">Services</a></li>
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-letters="Pages">More</span><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/">Mail Bag</a></li>
                <li><a href="/">Addresses</a></li>
                <li><a href="/">Payment</a></li>
                <li><a href="/">VEI Wallet</a></li>
                <li><a href="/">Shopping</a></li>
                <li><a href="/">Shipping</a></li>
            </ul>
        </li>
        <li ><a class="/#about-pricing">Pricing</a></li>   
        <li><a href="/#about-contact">Contact</a></li>
         <li><a href="{% url 'general:volkLogin' %}">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</div>

<!-- contact -->
<div id="about-reg" class="contact agileits">
    <div class="container">
        <div class="py-5" style="padding-bottom: 22rem !important;" style="padding: 6rem !important; background-image: url(&quot;{% static 'newhomepage/images/testimonial.jpg' %}&quot;);">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12">
                      <p class="">
                        <h1>Page Not Found</h1><br>
                        <h1>The page you are trying to visit does not exist</h1><br/>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<!-- //contact -->

{% endblock inner_content %}


{% block script %}
{% endblock script %}

