{% extends "base/zaposta_base.html" %}



{% block title %}<title>Password change successful</title>{% endblock %}

{% block body_head %}
<body>
{% endblock %}


{% block st_content %}
<div class="st-content-inner">
    <!-- extra div for emulating position:fixed of the menu -->
    <!-- Main Section -->
    <section id="main" class="form-outer">
        <div class="hero">
            <div class="container">
                <div class="form show">
                    <div class="inner">
                        
                        <!-- Login Account -->
                        <div class="container" id="login">
                            <div class="col-md-6 promo">
                                <h1>Password change successful</h1>
                            </div>
                            <form id="login_form" action="" method="POST">
                            {% csrf_token %}
                            <div class="col-md-6 left">
                                <h1 style="padding-top:120px;">Your password was changed successfully.</h1>
                                
                            </div>
                            </form>
                            
                        </div>
                        <!-- Login Account -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Main Section -->
   
    <!-- Other Services -->
    
    <!-- Other Services -->

    <!-- FOOTER  -->
    {% include "zaposta_snippet/footer_v1.html" %}
    <!-- the content -->
</div>
<!-- /st-content-inner -->
{% endblock %}


{% block script %}
    
   
{% endblock %}