{% extends "vei2018html/index.html" %}
{% load i18n static %}

{% block top_div %}
{% endblock top_div %}

{% block inner_content %}

<div class="navbar-top" style="background: grey;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand logo">
            <img src="{% static 'vei2018Static/images/volkmann.jpg' %}" style="border-radius: 50%;height: 40px; margin-top: 20px; position: relative; left: 20px;">
        </div>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav link-effect-4">
            <li class="first-list"><a href="/">Home</a></li>
            <li><a href="/#about-volk">About</a></li>
            <li><a href="/#about-services">Services</a></li>
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-letters="Pages">More</span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/">Mail Bag</a></li>
                    <li><a href="/">Addresses</a></li>
                    <li><a href="/">Payment</a></li>
                    <li><a href="/">VEI Wallet</a></li>
                    <li><a href="/">Shopping</a></li>
                    <li><a href="/">Shipping</a></li>
                </ul>
            </li>
            <li ><a class="/#about-pricing">Pricing</a></li>
            <li><a href="/#about-contact">Contact</a></li>
            <li><a href="{% url 'general:volkLogin' %}">Login</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</div>

<div id="about-login" class="contact agileits">
    <div class="container">
        <h2 class="" style="
                margin-top: 0px;
                font-size: 3rem;
                position:  relative;
                left: 26px;">Password Change Form</h2>
                <div class="contact-agileinfo">
                  <div class="col-md-6" style="
                            position: relative;
                            margin-top: -48px;">
                    
                    <!-- Login Account -->
                        <div class="container" id="login">
                            <div class="col-md-6 promo">
                                <h1>Enter new password</h1>
                            </div>
                                    
                            {% if validlink %}
                                    <form id="login_form" action="" method="POST">
                                    {% csrf_token %}
                                    <div class="col-md-6 left">
                                        <h1>Password change </h1>
                                        
                                        <p style="margin-top: 20px;margin-bottom:0;">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                                        
                                        <div class="col-md-12 {% if form.new_password1.errors %}error{%endif%}">
                                            <!--<input type="text" name="username_email" placeholder="Username/Email" />-->
                                            <h3 style="color: black;">New Password</h3>
                                            {{form.new_password1}}
                                        </div>
                                        
                                        <div class="col-md-12 {% if form.new_password2.errors %}error{%endif%}">
                                            <!--<input type="text" name="username_email" placeholder="Username/Email" />-->
                                            <h3 style="color: black;">Confirm New Password</h3>
                                            {{form.new_password2}}
                                        </div>
                                        
                        
                                        <div class="col-md-12 buttons" style="margin-top:9px;">
                                            <button class="btn green">Submit</button>
                                        </div>
                                    </div>
                                    </form>
                            {% else %}
                                    <div class="col-md-6 left">
                                        <h1>Password reset unsuccessful</h1>
                                        <p style="margin-top: 20px;margin-bottom:0;color: red;">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                                        
                                        
                                    </div>
                            
                            {% endif %}
                            
                        </div>
                        <!-- Login Account -->
                  </div>

                  <div class="clearfix"> </div>
                </div>
        
    </div>
</div>
<!-- //contact -->

{% endblock inner_content %}

