{% extends "base/zaposta_base.html" %}

{% load i18n static %}

{% block body_head %}
<body>
{% endblock %}


{% block st_content %}
<div class="st-content-inner">
    <!-- extra div for emulating position:fixed of the menu -->
    <!-- Main Section -->
    <section id="main" class="form-outer">
        <div class="hero">
            <div class="container">
                <div class="form show">
                    <div class="inner">
                        
                        <!-- Login Account -->
                        <div class="container" id="login">
                            <div class="col-md-6 promo">
                                <h1>Password change</h1>
                            </div>
                            <form id="login_form" action="" method="POST">
                            {% csrf_token %}
                            <div class="col-md-6 left">
                                <h1>Password change </h1>
                                
                                <p style="margin-top: 20px;margin-bottom:0;color: red;">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
                                
                                <div class="col-md-12 {% if form.old_password.errors %}error{%endif%}">
                                    <!--<input type="text" name="username_email" placeholder="Username/Email" />-->
                                    <h3 style="color: black;">Old Password</h3>
                                    {{form.old_password}}
                                </div>
                                
                                <div class="col-md-12 {% if form.new_password1.errors %}error{%endif%}">
                                    <!--<input type="text" name="username_email" placeholder="Username/Email" />-->
                                    <h3 style="color: black;">New Password</h3>
                                    {{form.new_password1}}
                                </div>
                                
                                <div class="col-md-12 {% if form.new_password2.errors %}error{%endif%}">
                                    <!--<input type="text" name="username_email" placeholder="Username/Email" />-->
                                    <h3 style="color: black;">Confirm New Password</h3>
                                    {{form.new_password2}}
                                </div>
                                
                                <div class="col-md-12 buttons" style="margin-top:9px;">
                                    <button class="btn green">Submit</button>
                                </div>
                            </div>
                            </form>
                            
                        </div>
                        <!-- Login Account -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Main Section -->
   
    <!-- Other Services -->
    
    <!-- Other Services -->

    <!-- FOOTER  -->
    {% include "zaposta_snippet/footer_v1.html" %}
    <!-- the content -->
</div>
<!-- /st-content-inner -->
{% endblock %}


{% block script %}
    
   
{% endblock %}