<html>
    <body onload="document.submit2interswitch_form.submit()">
        {% if pay_type == "requery" %}
        <!--Requery pending approval payments -->
            <form name="submit2interswitch_form" action="{{ rest_json }}" target="_self" method="GET">
            <input type="hidden" name="transactionreference" value="{{ txn_ref }}" />
            <input type="hidden" name="productid" value="{{ product_id }}" />
        {% else %}
            <!--Card Payment -->
<!--            <form name="submit2interswitch_form" action="https://webpay.interswitchng.com/paydirect/pay" target="_self" method="POST">-->
            <form name="submit2interswitch_form" action="{{ purchase_url }}" target="_self" method="POST">
            <input type="hidden" name="txn_ref" value="{{ txn_ref }}" />
            <input type="hidden" name="hash" value="{{ hash_val }}" /> 
            <input type="hidden" name="currency" value="566" />
            <input type="hidden" name="site_redirect_url" value="{{site_redirect_url}}" />      
            <input type="hidden" name="pay_item_id"    value="101" />
            <input type="hidden" name="pay_item_name"    value="Sokohali" />
            <input type="hidden" name="site_name" value="http://www.zaposta.com" />
            <input type="hidden" name="cust_id" value="{{ cust_id }}" />
            <input type="hidden" name="cust_name" value="{{ cust_name }}" />
            <input type="hidden" name="product_id" value="{{ product_id }}" />
        {% endif %}
        <input type="hidden" name="amount" value="{{ amount }}" />
        </form>
    </body>
</html>