{% extends "base/zaposta_base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block title %}Pay with SokoPay credit{% endblock %}
{% block extra_head %}
<style>
    div.modal-backdrop.fade.in{
        z-index: 0 !important;
    }
</style>

{% endblock %}

{% block body_head %}
<body>
{% endblock %}


{% block st_content %}
<!-- this is the wrapper for the content -->
<div class="st-content-inner">
    <!-- extra div for emulating position:fixed of the menu -->

    <section id="main" class="payment_main">
                        <!-- place widget -->
                        <div class="wt two">
                            <div class="container" style="position:relative;">
                                <img src="{{STATIC_URL}}zaposta/img/ism1.png" />
                                <p>21:04</p>
                                <img src="{{STATIC_URL}}zaposta/img/ism2.png" />
                                <p>London, UK</p>
                            </div>
                        </div>
                        <!-- place widget -->
                        <div class="hero two" id="payment_page">
                            <div class="container outer">
                                <div class="form">
                                    <div class="inner">
                                        <!-- Register Account -->
                                        <div class="container" id="register">
                                            <div class="col-md-6 promo two d3" style="background: url('{% static 'sokohali/img/pay_soko.jpg' %}') center center no-repeat;">
                                                <a href="{{request.META.HTTP_REFERER }}" class="goback"><span class="glyphicon glyphicon-arrow-left"></span>Back</a>
                                            </div>
                                            <!-- Regular Account -->

                                            {% include 'soko_pay_snippet/payment_form.html' %}
                                            <!-- Regular Account -->
                                        </div>
                                        <!-- Register Account -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                    <!-- Main Section -->

                    <!-- FOOTER  -->
                    <footer class="black two" style="margin-top:230px;">
                        {% include 'zaposta_snippet/footer-bottom.html' %}
                    </footer>
                    <!-- FOOTER  -->
    <!-- the content -->

</div>
<!-- /st-content-inner -->
{% endblock %}


{% block extra_script %}
  <script>
  	$("#proceed").click(function(e){
  		e.preventDefault();
  		var amount = $('#id_amount').val()
  		if (amount == '') {
  			alert("Please complete the amount field.");
        return false;
  		}
      $(this).closest('form')[0].submit();

  	});
    </script>
{% endblock %}
