.divLoading.show{
			display: block; position: fixed; z-index: 100; background-image: url('/static/ajax_loader.gif');
			background-color: rgb(102, 102, 102); opacity: 0.4; background-repeat: no-repeat; background-position: center;
			left: 0; bottom: 0; right: 0; top: 0;
}
.error{
color: red !important;
}
.success{
color: green !important;
}