{% load staticfiles %}
<div id="id_import_options" class="modal fade align-center" role="dialog">
  <div class="modal-dialog" style="width: 1000px; height:650px; position: relative;left: 60px;">
    <div class="modal-content" style="width:850px; overflow-y:scroll; max-height:600px;">

      <div class="modal-header"  style="border-bottom:none !important;">
        <button type="button" style="background-size:0px !important;" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><strong>Select Origin &amp; Destination</strong></h4>
      </div>

      <div class="modal-body">
        <form  action = "{% url 'shipping:retrieve_modal_values' %}" method = "post" id = "service-option-form">
        {% csrf_token %}

        <div class="row">
          <div class="col-md-6">
              <strong style="padding-left:10px;">Origin </strong> &nbsp;
              <select class="form-control" style="height:48px; position:relative; left:12px; width:84%;" name="country_from" id = "id_country_from" onchange='set_country_option()'>
                <option value="">Select country</option>
                {% for country in origin_countries %}
                  <option value="{{ country }}">{{ country }}</option>
                {% endfor %}

              </select>
          </div>

          <div class="col-md-6">
            <strong style="padding-left:10px;">Destination</strong> &nbsp;
              <select class="form-control" style="height:48px; position:relative; left:12px; width:84%;" name="country_to" id = "id_country_to">
                <option value="">Select country</option>
                {% for country in destination_countries %}
                  <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
                
              </select>
          </div>
        </div>


        <!-- select import action -->
      <p> &nbsp; </p>
        <div class="hidden" id ="service-selection">
          <strong style="padding-left: 12px;"> How do you want you ship your package? </strong><br/><br/>
          <div class="row">
            <div class="col-md-4">
              <input class="form-control" type="hidden"  name="import-handling-option" value="" id="id_shipping_option" />

              <checkbox id="send-from-shop" class="btn dark align-center import_option" style="background: url({% static 'shipping/img/send-package.png' %}) center center; position:relative; left:12px; height:95px;  color: #000000; width: 245px;  padding:10px;" onclick='return select_shipping_option("send-from-shop")'/>
              <!-- SEND PACKAGE FROM SHOP -->
              <!-- Sending package from a shop -->
            </div>
            <div class="col-md-4">
               <checkbox class="btn dark align-center import_option" id="export-import" style="background: url({% static 'shipping/img/drop-off.png' %}) center center; position:relative; left:5px; height:95px;  color: #000000; width: 245px;  padding:10px;" onclick='return select_shipping_option("export-import")'>
                <!-- DROP OFF AT A POST OFFICE -->
            </div>
            <div class="col-md-4">
              <checkbox id = "pick-up-package" class="btn dark align-center import_option" style="background: url({% static 'shipping/img/pickup.png' %}) center center; position:relative; height:95px;  color: #000000; width: 245px;  padding:10px;" onclick='return select_shipping_option("pick-up-package")'>
                <!-- PICK UP MY PACKAGE -->
            </div>
          </div>
        </div>
      <p> &nbsp; </p>

        <!-- pick up address -->
        <span id="pick-up-location-form" class="hidden">

          <h5 id = 'location_title' style="position: relative; left:12px;"> </h5>
          <div class="row">
            <div class="col-md-12">
              <fieldset style="width:60%;">
                <div class="row">
                  <div class="col-md-12" style="position:relative; left:12px;">
                    <input class="" type="text"  name="address1" placeholder = "Address 1" id="pk_address1"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12" style="position:relative; left:12px;">
                    <input class="" type="text"  name="address2" placeholder = "Address 2" id="pk_address2"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12" style="position:relative; left:12px;">
                    <input class="" type="text"  name="city" placeholder = "City" id="pk_city" />
                    </div>
                </div>

                <br/>
                <div class="row">
                  <div class="col-md-12" style="position:relative; left:12px; top:-18px">
                    <input class="" type="text"  name="state" placeholder = "State" id="pk_state" />
                    </div>
                </div>
                <br/>
                <div class="row">
                  <div class="col-md-12" style="position:relative; left:12px; top:-34px">
                      <select class="form-control" name="country" id = "pk_country">
                      {% for country in origin_countries %}
                        <option value="{{ country }}">{{ country }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <br/>
                <div class="row">
                  <div class="col-md-12" style="position:relative; left:12px; top:-48px">
                    <input class="" type="text"    name="origin_zipcode" placeholder = "Zip code" id="pk_zipcode" />
                  </div>
                </div>
                <br/>
                <div class="row">
                  <div class="col-md-12" style="position:relative; left:12px; top:-60px">
                    <input class="" type="number" name="phone" placeholder = "Phone" id="pk_phone" />
                    </div>
                </div>
                <br/>
                <div class="row">
                  <div class="col-md-12">
                    <input class="form-control" type="hidden"  name="pick-up" />
                  </div>
                </div><br/><br/>
              </fieldset>
            </div>
          </div>
        </span>
      <!-- <hr/> -->
      <div class="modal-footer">
          <input type="submit" name = "import-options" style="position: relative; width:180px;" value="proceed" class="btn btn-success pull-right" onclick='return validate_import_selection()'/>
      </div>
      </form>
      </div>
    </div>
  </div>
</div>
