{% if packages %}
<div class="timmer">
    <div class="header">
        Your shipping packages
    </div>
    <div style="width:100%; padding:0 15px;">
        <table width="100%" border="0" id="pkgs_listing">
          {% for pkg in packages %}
            <tr>
                <td>Box {{forloop.counter}}</td>
                <td>Qty: {{pkg.box_quantity}}</td>
                <td>{{pkg.box_weight_higher|floatformat:2}}lbs / {{pkg.box_weight_higher_K|floatformat:2}}kg</td>
                <td>
                    <a href="?delete_pkg={{pkg.id}}" onclick="return confirm('Are you sure you want to delete this package?');" class="delete" ></a>
                </td>
            </tr>
          {% endfor %}
        </table>
    </div>
    <div class="col-md-12">
        {% if proceed_type == 'export' %}
          <a href="{% url 'export:package_review' %}" class="btn green two">Proceed</a>
        {% else %}
            <!--<a href="#" id="proceed_btn" class="btn green two">Proceed</a>-->
        {% endif %}
        <a href="?q=clear_all" onclick="return confirm('Are you sure you want to clear all your packages?');" class="btn yellow two" style="float: left;">Clear All</a>
    </div>
</div>
{% endif %}