<div id="{{ modal_id }}" class="modal fade" role="dialog">
  <div class="modal-dialog" >
    <!-- Modal content-->
    <div class="modal-content" style="width:600px; float:none; padding:20px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><strong>SELECT SERVICE TYPE</strong></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <!--  if request.user.useraccount.marketer %} -->
            <div class="col-md-6">
                <a href="#" class="btn dark align-center" style="background-color:#3C983C; border-color:#3C983C; color: white; width: 230px; border-radius: 0px;" data-toggle="modal" data-dismiss="modal" data-target="#id_import_options" id="id_import">RECEIVE PACKAGE</a>
                <!-- <br/><br/><br/> -->
            </div>

            <div class="col-md-6">
                <a href="" class="btn dark align-center" style="background-color:#a9a9a9; border-color:#a9a9a9; color: white; width: 230px; border-radius: 0px;" >SEND PACKAGE</a>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <p> &nbsp; </p>
      </div>
    </div>
  </div>
</div>
