<html>
  <body>
    <head>
     </head>
       <div>
        <div>
          <p>Thank you for shipping with {{mm.storefront_name|capfirst}}.</p>
          <p>We received a package with your name on it.</p>
          <p>If you would like us to ship this package and any other packages you are expecting soon, please you MUST CREATE A BOOKING now to book your shipment.</p>
          <p>This gives you total control over how your items are handled and if you would like us to ship them out individually for delivery speed, in the case of multiple items, or send them out together to help save cost.</p>
          <p>Find Below a brief description of the package: {{pkg.item_description}}</p>
          <p>The last four digits of your packages is: {{pkg.last_four_digits}}</p>
          <p>Click hear to view your item label: <a href="{{pkg.image_field.url}}" target="_blank">Label</a></p>
          <p>Kindly place a booking within the next 48 hours to allow us process the package(s).</p>
        </div><br/><br/>
      </div>
  </body>
</html>


