<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

{% extends 'vei2018html/index.html' %}
{% load staticfiles %}


{% block top_div %}
{% endblock top_div %}

<!-- //w3-banner -->
{% block inner_content %}
<div class="navbar-top" style="background: grey;">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
		 <div class="navbar-brand logo">
			 <img src="{% static 'vei2018Static/images/volkmann.jpg' %}" style="border-radius: 50%;height: 40px; margin-top: 20px; position: relative; left: 20px;">
		</div>

	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	 <ul class="nav navbar-nav link-effect-4">
		<li class="first-list"><a href="/">Home</a></li>
		<li><a href="/#about-volk">About</a></li>
		<li><a href="/#about-services">Services</a></li>
		<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-letters="Pages">More</span><span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="/">Mail Bag</a></li>
				<li><a href="/">Addresses</a></li>
				<li><a href="/">Payment</a></li>
				<li><a href="/">VEI Wallet</a></li>
				<li><a href="/">Shopping</a></li>
				<li><a href="/">Shipping</a></li>
			</ul>
		</li>
		<li ><a class="/#about-pricing">Pricing</a></li>  
		 <li><a href="/#about-contact">Contact</a></li>
		 <li><a href="{% url 'general:volkLogin' %}">Login</a></li>
	  </ul>
	</div><!-- /.navbar-collapse -->
</div>

<!-- contact -->
<div id="about-reg" class="contact agileits">
	<div class="container">
		
		<h2 class="" style="
				margin-top: 0px;
				font-size: 3rem;
    			position:  relative;
    			left: 26px;">Address Activation Form</h2>

    	<h5 style="color:white; font-weight: 500;">Please provide the follwing information for us update your account and verify your identity an activate your account. All the fields are required.
						</h5>
		<div class="contact-agileinfo">
			<div class="col-md-6" style="
			    position: relative;
    			margin-top: -48px;">

				<form action="" method="POST" enctype="multipart/form-data" id="addressform" name="addressactivation">
							{% csrf_token %}
								<div class="col-md-6 left" style="display: block !important;">

									{% if form.errors %}
									<p style = 'color: red; padding-top: 6px;'>Please correct the highlighted field(s) below:</p>
									{% endif %}

									<table border='0' style="padding-top: 30px; margin-top: 45px;">
										<style>
											td{
												color: white;
												
											}
											 td p{
											 	padding-left: -10px;
											 }
										</style>
										<tr>
											<td class="first">
												<p class for='first_name'{% if form.first_name.errors %}p style = 'color: red;' {% endif %}>First Name: </class>
											</td>
											<td>
												<div class="form-group">
													{{form.first_name}}
												</div>
											</td>
											<td> {% if form.first_name.errors %}<label style= 'color: red;'>{{ form.first_name.errors }}</label>{%endif%}</td>
										</tr>

										

										<tr>
											<td class="first">
												<p class for='last_name'{% if form.last_name.errors %}p style = 'color: red;' {% endif %}>Last Name: </class>
											</td>
											<div class="form-group">
												<td>{{form.last_name}}</td>
											</div>
											<td> {% if form.last_name.errors %}<label style= 'color: red;'>{{ form.last_name.errors }}</label>{%endif%}</td>
										</tr>

										<tr>
											<td class="first">
												<p class for='title'{% if form.title.errors %}p style = 'color: red;' {% endif %}>Title: </class>
											</td>
											<div class="form-group">
												<td style="width:250px!important;">{{ form.title }}</td>
											</div>
											<td> {% if form.title.errors %}<label style= 'color: red;'>{{ form.title.errors }}</label>{%endif%}</td>
										</tr>
										
										<tr>
											<td class="first">
												<p for='address'{% if form.address.errors %} p style = 'color: red;'{% endif %}>Address: </p>
											</td>
											<div class="form-group">
												<td>{{ form.address }}</td>
											</div>
											<td> {% if form.address.errors %}<label style= 'color: red;'>{{ form.address.errors }}</label>{%endif%}</td>
										</tr>
										<tr>
											<td class="first">
												<p for='city'{% if form.city.errors %} p style = 'color: red;'{% endif %}>City: </p>
											</td>
											<div class="form-group">
												<td>{{ form.city }}</td>
											</div>
											<td> {% if form.city.errors %}<label style= 'color: red;'>{{ form.city.errors }}</label>{%endif%}</td>
										</tr>
										<tr>
											<td class="first">
												<p for='country'{% if form.country.errors %} p style = 'color: red;'{% endif %}>Country: </p>
											</td>
											<td>
												<select class="form-control" id="country" name="country" selected="selected"></select>
												<!-- <select onchange="print_state('state',this.selectedIndex);" id="country"
												 class="country" name ="country" selected="selected"></select> -->
												<!-- <select id="id_country" name="country" onchange="populate(this.id, 'id_state')">
													<option value=''>Please Select Country</option>
													<option value='Nigeria'>Nigeria</option>
													<option value='USA'>USA</option>
													<option value='UK'>UK</option>
												</select> -->
											</td>
											<!-- <td> % if form.country.errors %}<label style= 'color: red;'>{ form.country.errors }}</label>%endif%}</td> -->
										</tr>
										<tr>
											<td class="first">
												<p for='state'{% if form.state.errors %} p style = 'color: red;'{% endif %}>State: </p>
											</td>
											<td>
												<select class="form-control" name="state" id="state"></select>
													<script language="javascript">
														populateCountries("country", "state");
														// populateCountries("country2");
													</script>
												<!-- <select name ="state" id ="state"></select> -->
												<!--<script language="javascript">print_country("country");</script>-->
												<!-- <select id="id_state" name="state"> 
												</select>-->
											</td>
											<td> {% if form.state.errors %}<label style= 'color: red;'>{{ form.state.errors }}</label>{%endif%}</td>
										</tr>
										<!--<tr class="nigeria">
											<td class="first">
												<p for='telephone' if form.telephone.errors p style = 'color: red;' endif >Telephone: </p>
											</td>
											<td> form.telephone </td>
											<td> % if form.telephone.errors %<label style= 'color: red;'> form.telephone.errors </label>endif</td>
										</tr>-->
										<tr>
											<td class="first">
												<p for='image'{% if form.image.errors %} p style = 'color: red;'{% endif %}>Your Photo: </p>
											</td>
											<div class="form-group">
												<td>{{ form.image }}</td>
											</div>
											<td> {% if form.image.errors %}<label style= 'color: red;'>{{ form.image.errors }}</label>{%endif%}</td>
										</tr>
										<tr class="not_nigeria">
											<td class="first">
												<p for='photo_id'{% if form.photo_id.errors %} p style = 'color: red;'{% endif %}>Photo ID: </p>
											</td>
											<div class="form-group">
												<td>{{ form.photo_id }}</td>
											</div>
											<td> {% if form.photo_id.errors %}<label style= 'color: red;'>{{ form.photo_id.errors }}</label>{%endif%}</td>
										</tr>
										<tr class="not_nigeria">
											<td> <p style="color:white">Note:</p></td>
											<td style="color: white;"><b>Acceptable IDs are International Passport/Driver's  License/National ID card (.png, .jpg)</b>
											</td>
										</tr>
										<tr class="nigeria hidden">
											<td class="first">
												<p for='bvn_no'{% if form.bvn_no.errors %} p style = 'color: red;'{% endif %}>BVN Number (<b>11 digits</b>): </p>
											</td>
											<div class="form-group">
												<td>{{ form.bvn_no }}</td>
											</div>
											<td> {% if form.bvn_no.errors %}<label style= 'color: red;'>{{ form.bvn_no.errors }}</label>{%endif%}</td>
										</tr>
										<tr class="nigeria hidden">
											<td> <p style="color: black">Note:</p></td>
											<td style="color: black;"><b>This information is only used for your identity verification.</b>
											</td>
										</tr>
										<tr class="not_nigeria">
											<td class="first">
												<p for='utility_bill'{% if form.utility_bill.errors %} p style = 'color: red;'{% endif %}>Utility Bill: </p>
											</td>
											<div class="form-group">
												<td>{{ form.utility_bill }}</td>
											</div>
											<td> {% if form.utility_bill.errors %}<label style= 'color: red;'>{{ form.utility_bill.errors }}</label>{%endif%}</td>
										</tr>
									</table><br>
									<div class="col-md-12 buttons pull-right">
										<button  style="position:relative; border-radius: 4px; margin-left: 220px;" class="btn btn-primary" id="activation">Submit</button>
									</div>
								</div>
							</form>
			</div>
			
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //contact -->

{% endblock inner_content %}


{% block script %}
<script type="text/javascript">
$(document).ready(function() {
	$('.nigeria').hide();
	$('.not_nigeria').hide();
	$('.top').addClass('hidden');
	$.waypoints.settings.scrollThrottle = 60;
	$('.wrapper-content').waypoint(function(event, direction) {
		$('.top').toggleClass('hidden', direction === "up");
	}, {
		offset: '-50%'
	}).find('#main-nav-holder').waypoint(function(event, direction) {
		$(this).parent().toggleClass('sticky', direction === "down");
		$('#account.promo').toggleClass('two', direction === "down");
		event.stopPropagation();
	});
});
// $('.navigation').scrollspy()


 // start: Block of code commented and reformatted by isaiah to remove bvn validation on 22nd/june/2017 //

// $('#country').on('change',function(){
// 	if( $(this).val()==="Nigeria"){
// 		// alert("Nigeria");
// 		$(".nigeria").show()
// 		$(".not_nigeria").hide();
// 	}
// 	else{
// 		// alert("Not Nigeria");
// 		$(".not_nigeria").show();
// 		$(".nigeria").hide()
// 	}
// });

 // end: Block of code commented and reformatted by isaiah to remove bvn validation on 22nd/june/2017 //


$('#country').on('click',function(){
		alert('was changed');
		$(".not_nigeria").show();
		$(".nigeria").hide()
	});

function validateForm() {
	$("form[name='addressactivation']").validate({
		rules: {
			first_name: "required",
			last_name: "required",
			title: "required",
			address: "required",
			city: "required",
			country: "required",
			state: "required",
			image:	"required",
			bvn_no: {
				 required : $("#country").val() == "Nigeria"
			},
			utility_bill: {
				required : $("#country").val() != "Nigeria"
			},
			photo_id:	{
				required : $("#country").val() != "Nigeria"
			}
		},
		messages: {
			first_name: "Please enter your firstname",
			last_name: "Please enter your lastname",
			title:	"Please select a Title",
			address: "Please enter an address",
			city: "Please enter a city",
			country: "Please select a country",
			state: "please select a state",
			image: "Please upload your image",
			bvn_no: "Please enter your BVN",
			utility_bill: "Please upload your Utility bill",
			photo_id: "please upload your Photo ID"
		},
	});
}
</script> <!-- TRIGGER FIXED TOP NAVIGATION MENU SCRIPT -->

<script type="text/javascript" src="{% static 'sokohali/validate.js' %}"></script>

<script>
	$('body').on('click', '#activation', function(event) {
	event.preventDefault();
	//alert("i reach o");
	validateForm();
	// alert("i reach too");
	if ($('#addressform').valid()) {
		var country = $('#country').val();
		//alert(country);


    // start: Block of code commented by isaiah to remove bvn validation on 22nd/june/2017 //

	// if (country == "Nigeria") {
	// 	alert('You will receive a phone call shortly, please keep your phone close and enter the one time password given to you.');
	// 	var bvn_no = $('#id_bvn_no').val();
	// 	var firstname = $('#id_first_name').val();
	// 	var lastname = $('#id_last_name').val();
	// 	//alert(bvn_no);
	// 	$('.loading').addClass('show');
	// 	var csrf_token  = $('input[name="csrfmiddlewaretoken"]').val();
	// 	$.ajax({
	// 		url: "{% url 'general:verify_bvn' %}",
	// 		type: 'POST',
	// 		data: {'csrfmiddlewaretoken': csrf_token, 'bvn_no': bvn_no, 'firstname': firstname, 'lastname': lastname},
	// 		success: function(data){
	// 			if (data.result == "Used") {
	// 				$('.loading').removeClass('show');
	// 				$('#FailedModal').modal('show');
	// 				$('.modal-backdrop').remove();
	// 				$('#Failed').addClass('hidden');
	// 				$('#Used').removeClass('hidden');
	
	// 			}
	// 			else{
	// 				$('.loading').removeClass('show');
	// 				$('#verify_bvn').replaceWith(data);
	// 				$('#verify_bvn').modal('show');
	// 				$('.modal-backdrop').remove();
	// 			}
	// 		},
	// 		error: function(data){
	// 			$('.loading').removeClass('show');
	// 			$('#errorModal').modal('show');
	// 			$('.modal-backdrop').remove();
	// 			}
	// 		});
	// 	 }
	// else {
		$("#addressform").submit();

	// }

	 // end: Block of code commented by isaiah to remove bvn validation on 22nd/june/2017 //

	}
	else{
		alert("please ensure all fields are filled");
	}
 });


	$('body').on('click', '#verify', function(event) {
		event.preventDefault();
		$('.loading').addClass('show');
		var otp = $('#otp').val();
		var csrf_token  = $('input[name="csrfmiddlewaretoken"]').val();
		$.ajax({
			url: "{% url 'general:validate_otp' %}",
			type: 'POST',
			data: {'csrfmiddlewaretoken': csrf_token, 'otp': otp},
			success: function(data){
				if (data.result == "Ok") {
					$('.loading').removeClass('show');
					 $("#addressform").submit();
				}
				else{
					$('.loading').removeClass('show');
					$('#verify_bvn').modal('hide');
					$('#FailedModal').modal('show');
					$('.modal-backdrop').remove();
					$('#Used').addClass('hidden');
					$('#Failed').removeClass('hidden');
				}
				},
			error: function(data){
				$('.loading').removeClass('show');
				$('#errorModal').modal('show');
				$('.modal-backdrop').remove();
			}
		});
	});



	$('body').on('click', '#resend_otp', function(event) {
		event.preventDefault();
		$('#verify_bvn').modal('hide');
		alert('You will receive a phone call shortly, please keep your phone close and enter the one time password given to you.');
		$.ajax({
			url: "{% url 'general:resend_otp' %}",
			type: 'GET',
			data: {},
			success: function(data){
				if (data.status == "success") {
					$('#verify_bvn').modal('show');
					$('.modal-backdrop').remove();
				}
				else{
					$('#errorModal').modal('show');
					$('.modal-backdrop').remove();
				}
			},
			error: function(data){
				$('#errorModal').modal('show');
				$('.modal-backdrop').remove();
			}

		});
	});
</script>

<!-- DROPDOWN MOBILE MENU ADMIN PAGES SCRIPT -->
	<script>
	<!--
	function land(ref, target)
	{
	lowtarget=target.toLowerCase();
	if (lowtarget=="_self") {window.location=loc;}
	else {if (lowtarget=="_top") {top.location=loc;}
	else {if (lowtarget=="_blank") {window.open(loc);}
	else {if (lowtarget=="_parent") {parent.location=loc;}
	else {parent.frames[target].location=loc;};
	}}}
	}
	function jump(menu)
	{
	ref=menu.choice.options[menu.choice.selectedIndex].value;
	splitc=ref.lastIndexOf("*");
	target="";
	if (splitc!=-1)
	{loc=ref.substring(0,splitc);
	target=ref.substring(splitc+1,1000);}
	else {loc=ref; target="_self";};
	if (ref != "") {land(loc,target);}
	}
	//-->
	</script> <!-- DROPDOWN MOBILE MENU ADMIN PAGES SCRIPT -->

	<script type="text/javascript">




	</script>
{% endblock script %}


