{% extends 'sokohali/sokohali_homepage.html' %}
{% load staticfiles %}

{% block title %}<title>Sokohali - About Page</title>{% endblock %}
{% block meta_desc_key %}
<meta name="description" content="Sokohali.com - About. What is sokohali. Key features of sokohali. Members of sokohali network. How to join sokohali. Sokohali pricing" />
<meta name="keywords" content="Sokohali.com - About. What is sokohali. Key features of sokohali. Members of sokohali network. How to join sokohali. Sokohali pricing" />
{% endblock %}
{% block bodytag %}<body>{% endblock %}

{% block actions %}
<ul class="dropdown-menu">
    <li> <a href="/#overview1">Offer Facilities</a> </li>
    <li><a href="/#overview2">Rent Facilities</a></li>
    <li><a href="/#overview3">Offer Different Services</a></li>
    <li><a href="/#overview4">More Features</a></li>
</ul>
{% endblock %}

{% block contents %}
<section>
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-12">
           <h1 style="text-align:left !important;"><span></span>Sokohali Global Network of Delivery Businesses</h1>

            <!-- Sokohali is a <strong>delivery network</strong> that lets <strong>sellers</strong> and <strong>shippers</strong> deliver goods <strong>constantly</strong>
            from any origin to any destination in the world, by <strong>renting the facilities and services</strong> of other <strong>members</strong> on the network.
            Sokohali provides shippers and sellers the digital tools and documentation they need for flexible and competitive delivery services on the Sokohali network. Sokohali’s current regional focus is Africa, connecting delivery businesses in African countries as well as linking them up with North America, Europe and China. -->

            Sokohali is a <strong>network of delivery businesses</strong> that lets <strong>sellers</strong> and shippers deliver goods <strong>constantly</strong> from any origin to any destination in the world,
            by <strong>renting the facilities and services of other members on the network</strong>.
            Sokohali provides shippers and sellers the digital tools they need (like Shopify for shipping) and a network platform where they can connect to other members and share
            facilities to extend their delivery services.
            Sokohali’s current regional focus is Africa, connecting delivery businesses in African countries as well as linking them up with North America, Europe and China.

            <h1 style="text-align:left !important;"><span></span>Key Features</h1>

            Sokohali provides businesses with a variety of utilities to set up and run international shipping services effectively.

            Clean, user-friendly and search engine optimised websites or storefronts to make your business stand out and look great.
            Tools to offer flexible shipping services; Air, Sea, Land, Import., Export, assisted shopping and product listing.
            Offers shippers and e-commerce companies tools to automate: pricing, booking, payments, shipment processing, customs documentation, tracking, marketplace and communication.
            Largest network of facilities needed to create a delivery service to several countries.


            <h1 style="text-align:left !important;"><span></span>What Types of Members are on the Sokohali Network</h1>

            There are 5 main open member and facility types or profiles. Members can offer the facilities they own to other members. Members can rent the facilities they don’t have from other members. You can be more than one member type and rent or offer several facilities. This allows members to expand their delivery destinations with a few clicks.<br/><br/>

            <strong>Member Types</strong><br/>

            · Postal Centres<br/>
            · Local Distributor Members and Home Delivery Agents<br/>
            · Warehousing and Processing Members<br/>
            · Shipping Members<br/>
            · Custom Clearing Agents<br/><br/>


            <strong>Postal Center:</strong> A Postal Centre can offer full delivery services to her customers. Sokohali offers a customisable storefront where a member can add their company logo, personalize their web app, host on their own website(optional) etc. Postal centres also earn by offering drop off and pickup sites to other members.<br/><br/>

            <strong>Local distributor / home delivery agent:</strong><br/>

                <strong>Local distributor:</strong> The local distributor is part of the first and last mile delivery chain. As a local distributor, you deliver to a warehouse member for processing or perform last mile delivery to end users.<br/>

                <strong>Home delivery agent:</strong> home delivery agents are part of the last mile delivery chain. Once verified by a postal centre, an agent can deliver packages with their vehicle to end users in their city. Vehicle types required include; bicycle, motorcycle, car, van.<br/><br/>

            <strong>Warehousing/processing:</strong> the warehousing and processing member rents out warehousing space to others for receiving, packaging and sorting of shipments. <br/><br/>

            <strong>Shipping member:</strong> this member can book shipments for members to the destination country. A shipping member MUST be a licensed shipper with IAC or IATA certifications.<br/><br/>

            <strong>Customs Clearing Agent:</strong> This is a member authorized by customs at their location to process incoming cargo through customs. They are also called customs and forwarding agents.

            <h1 style="text-align:left !important;"><span></span>How can I become a Sokohali Member?</h1>

            In order to be verified as a sokohali member (except home delivery agents), you need to have some licenses and facilities in place. Here are the licenses and facilities of each member below:<br/><br/>

            <strong>Postal Centre:</strong>  this member must be someone with a registered company and a verifiable and accessible business address.<br/>

            <strong>Postal Centre members must have </strong>3 years history of doing business in their neighborhood.<br/><br/>

            <strong>Local Distribution and Home Delivery Agent:</strong><br/>
                <strong>Local Distribution</strong> members must have a registered Company in addition to a nationwide delivery network. This member is strictly by invitation only.<br/>
                <strong>Home Delivery Agents</strong> do not need to have registered company  but MUST be a verified individual by a Postal Centre member.<br/><br/>

            <strong>Warehouse member</strong> must have registered Company in addition to verifiable warehouse space leased to the registered company<br/><br/>

            <strong>Shipping member</strong> must have registered company in addition to IATA/IAC license (a registered freight forwarder) and a verifiable office address, registered company, customs clearing license and verifiable office and references.


            <h1 style="text-align:left !important;"><span></span>Pricing Plans</h1>
            <strong>Sokohali registration is currently free.</strong>
        </div>
    </div>
 </div>
</section>
{% endblock %}
