{% extends "adminBase/base_index.html" %}
{% load staticfiles %}
{% load custom_filters %}
{% load humanize %}
{% load activelink %}

{% block title  %}{{ payment_type|title }} Local Distribution Member {% endblock %}

{% block custom-styles %}
<style>

    /*div.sidebar-link:hover{
        background-color: #E3E3E3;
    }*/

      table, th, td {
          border: 1px solid black;
        }

        select {
      height: 48px;
      min-width: 200px;
      padding: 0;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      line-height: 48px;
      color: rgb(121, 121, 121);
      border: none;
      box-shadow: none;
      padding-left: 15px;
      border: 2px solid rgb(231, 231, 231);
      background: rgb(245, 245, 245);
      min-width: 367px;
      float: left;
      position: relative;
      margin-bottom: 15px;
      }
      .modal-body{
      height: 380px;
      overflow-y: auto;
      }
</style>

{% endblock %}

{% block body %}<body>{% endblock %}


  {% block searchbar %}
      <div class="searchbar">
          <div class="container">
              <div class="col-md-12">
                  <input type="text" />
                  <i class="fa fa-search t" aria-hidden="true"></i>
                  <span class="bar"></span>
              </div>



          </div>
      </div>
  {% endblock %}

  {% block navbar %}
  <ul class="nav navbar-nav">
     <li>
        <a href="{% url 'sokohaliAdmin:local_dist_member' %}">Local Distribution Member</a>
     </li>
     <li>
        <a href="{% url 'sokohaliAdmin:local_dist_region' %}">Local Distributor Region</a>
     </li>
     <li>
        <a href="{% url 'sokohaliAdmin:local_dist_location' %}">Local Distributor Location</a>
     </li>
     <li>
        <a href="{% url 'sokohaliAdmin:local_dist_price' %}">Local Distributor Price</a>
     </li>
   </ul>
  {% endblock %}

  {% block set_up %}
  {% endblock set_up %}

    {% block sticky_warning %}
        <div class="sticky_msg">
            <div class="container">

                <div class="col-md-12">


                    <div class="alert" role="alert">
                        <h3><strong>Welcome Administrator,</strong></h3>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <!-- {% for msg in messages %
                          <blockquote style="padding-left: 15px;" class="text-{{ msg.tags } bg-{{ msg.tags }">{{ msg }</blockquote>
                        {% endfor % -->
                        {% for msg in messages %}
                          <script>
                            function show_alert(){
                            var alert = '<blockquote style="padding-left: 15px;" class="text-{{ msg.tags }} bg-{{ msg.tags }}">{{ msg }}</blockquote>';
                            document.write(alert);
                            }
                            display = window.setTimeout(show_alert(), 1000);
                            window.clearTimeout(display);
                          </script>
                        {% endfor %}

                    </div>
                    <!-- Alert Warning -->
                </div>
            </div>
        </div>
    {% endblock %}

    {% block inner_content %}
        <div class="inner">
            <!-- Scrollable Content -->
            <div class="scrollable">

                <div class="container">
                    <div class="row-fluid">
                        
                        <div class="col-md-12 user_list" style="position:relative; bottom:0px;">

                            <div ng-controller="AppCtrl" class="datepickerdemoBasicUsage" ng-app="MyApp">
                                <md-content>
                                    <md-datepicker ng-model="myDate" md-placeholder="Fecha"></md-datepicker>

                                </md-content>
                            </div>

                            <div class="tab-content" style="padding-bottom: 10px;">
                                <div>
                                    <button  class="btn green" style="float:right;" data-toggle="modal" data-target="#myModal">Add Distribution Member</button>
                                </div>
                                <!-- <form> -->
                                <!-- {% csrf_token % -->
                                  <table border="1"  style="position: relative; bottom:-20px;" width="1000px">
                                      <tr>
                                        <th align="center" style="position: relative;left: 25px;" width="40px">S/N</th>
                                          <th align="center" style="position: relative;left: 25px;" >Local Distribution Members</th>
                                          <th align="center" style="position: relative;left: 25px;">Country</th>
                                          <th align="center" style="position: relative;left: 25px;">Active</th>
                                          <th align="center" style="position: relative;left: 25px;">Has API</th>
                                          <th align="center" style="position: relative;left: 25px;">Has Configured Rate</th>
                                          <th align="center" style="position: relative;left: 25px;">Marketing Member</th>
                                          <th align="center" style="position: relative;left: 25px;">Edit</th>
                                          <th align="center" style="position: relative;left: 25px;">Region</th>
                                      </tr>

                                      {% for dis_mem in dist_member %}
                                        <tr>
                                          <td style="position: relative;left: 25px;">{{forloop.counter}}</td>
                                            <td align="center" width="50px"><strong>{{dis_mem.courier_name }}</strong></td>
                                            <td align="center" width="50px">{{dis_mem.country }}</td>
                                            {% if dis_mem.active = True %}
                                              <td align="center" width="50px"><a href="#">&#9989;</a></td>
                                            {% else %}
                                              <td  align="center" width="50px"><a href="#" >&#10008;</a></td>
                                            {% endif %}
                                            {% if dis_mem.has_api = True %}
                                              <td align="center" width="50px"><a href="#">&#9989;</a></td>
                                            {% else %}
                                              <td align="center" width="50px"><a href="#" >&#10008;</a></td>
                                            {% endif %}
                                            {% if dis_mem.has_configured_rates = True %}
                                              <td align="center" width="50px"><a href="#">&#9989;</a></td>
                                            {% else %}
                                              <td align="center" width="50px"><a href="#" >&#10008;</a></td>
                                            {% endif %}
                                            <td align="center" width="50px">{{dis_mem.marketing_member }}</td>
                                            <td align="center" width="50px"><a href="#{{dis_mem.id}}" item_id="{{dis_mem.id}}" class="edit_member" title="Edit Local Distr Member"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                                            <td align="center" width="50px"><a href="#{{dis_mem.id}}" item_id="{{dis_mem.id}}" value="{{dis_mem.courier_name}}" class="region">View Region</a></td>
                                        </tr>
                                      {% endfor %}

                                  </table>
                                <!-- </form> -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Scrollable Content -->

            <div class="loading">

            </div>
        </div>
    {% endblock %}

{% block modal %}
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Local Distribution Member</h4>
      </div>
      <div class="modal-body">
        <div class="scrollbar">
            <form action="{% url 'sokohaliAdmin:local_dist_member' %}" method="POST">
                {% csrf_token %}
                <div class="col-md-8" style="margin-top:15px;">
                  <strong>Courier Name</strong>{{loc_dist_mem.courier_name}}
                </div>
                <div class="col-md-8" style="margin-top:15px;">
                  <strong>Country</strong> 
                    <select name="country">
                      {% for country in avail_country %}
                      <option value="{{country}}">{{country}}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="col-md-8">
                  <strong>Active</strong> {{loc_dist_mem.active}} &emsp; &emsp;<strong>Has API</strong> {{loc_dist_mem.has_api}} &emsp; &emsp;<strong>Has Configured Rates</strong> {{loc_dist_mem.has_configured_rates}}
                </div>
                <div class="col-md-8" style="margin-top:15px;">
                  <strong style='margin-bottom: 10px;'>Marketing Member</strong> 
                    <select name="marketing_member">
                      <option hidden> ------------</option>
                      {% for mm in mark_mem %}
                      <option value="{{mm}}">{{mm}}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="col-md-12" style="margin-top:15px;">
                  <button type="submit" class="btn green pull-right" value="submit">Submit</button>
                </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="submit" class="btn green" data-dismiss="modal">Submit</button> -->
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div id="editMemberModal{{dis_mem.id}}" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Local Distribution Member</h4>
      </div>
      <div class="modal-body">
        <div class="scrollbar">
            <form action="{% url 'sokohaliAdmin:edit_local_dist_member' %}" method="POST">
                {% csrf_token %}
                <div class="col-md-8" style="margin-top:15px;">
                  <input type='hidden' name='id' value='{{mem_form.id}}'>
                  <strong>Courier Name</strong><input type='text' name='courier_name' value='{{mem_form.courier_name}}'>
                </div>
                <div class="col-md-8" style="margin-top:15px;">
                  <strong>Country</strong> 
                    <select name="country">
                      <option > ------------</option>
                      {% for country in avail_country %}
                      <option value="{{country}}">{{country}}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="col-md-8">
                  <strong>Active</strong><input type='checkbox' name='active' value='{{mem_form.active}}'{% if mem_form.active %}checked{% endif %}> &emsp; &emsp;<strong>Has API</strong> <input type='checkbox' name='has_api' value='{{mem_form.has_api}}' {% if mem_form.has_api %}checked{% endif %}> &emsp; &emsp;<strong>Has Configured Rates</strong> <input type='checkbox' name='has_configured_rates' value='{{mem_form.has_configured_rates}}' {% if mem_form.has_configured_rates %}checked{% endif %}>
                </div>
                <div class="col-md-8" style="margin-top:15px;">
                  <strong style='margin-bottom: 10px;'>Marketing Member</strong> 
                    <select name="marketing_member">
                      <option > ------------</option>
                      {% for mm in mark_mem %}
                      <option value="{{mm}}">{{mm}}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="col-md-12" style="margin-top:15px;">
                  <button type="submit" class="btn green pull-right" value="submit">Submit</button>
                </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="submit" class="btn green" data-dismiss="modal">Submit</button> -->
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div id="MemberModalRegion{{dis_mem.id}}" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{regions.courier}} Region</h4>
      </div>
      <div class="modal-body">
        <div class="scrollbar">
          {% if regions %}
          <table border="1"  style="position: relative; bottom:-20px; left:20px;" width="400px">
              <tr>
                  <th align="center" style="position: relative;left: 25px;" width="30px">S/N</th>
                  <th align="center" style="position: relative;left: 25px;" width="75px">Courier</th>
                  <th align="center" style="position: relative;left: 25px;">Name</th>
              </tr>

              {% for dis_reg in regions %}
                <tr>
                    <td align="center" width="20px">{{forloop.counter}}</td>
                    <td align="center" width="50px"><strong>{{dis_reg.courier }}</strong></td>
                    <td align="center" width="50px">{{dis_reg.name }} </td>
                </tr>
              {% endfor %}

          </table>
          {% else %}
          <p align="center">No Region for these Local Distribution Member</p>
          {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="submit" class="btn green" data-dismiss="modal">Submit</button> -->
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block custom_select %}
{% endblock %}

{% block script %}
<script src="{% static 'soko-admin/js/rates_processing.js' %}"></script>
<script>
$('body').on('click','.region',function(){
        var item_id = $(this).attr('item_id');
        console.log("Item ID is : "+ item_id);
        var value = $(this).attr('value');
        console.log("value is :"+ value);
        var csrf_token     = $('input[name="csrfmiddlewaretoken"]').val();
        console.log("csrf_token is : "+ csrf_token);
          $.ajax({
            url: "{% url 'sokohaliAdmin:view_region'  %}",
            type: "POST",
            data: {"item_id":item_id, "value":value, "csrfmiddlewaretoken":csrf_token},

            success: function(data){
                $('#MemberModalRegion').replaceWith(data);
                $('#MemberModalRegion').modal('show');
                console.log("GOT HERE")
            },
            error: function(data){
                console.log("Not working");
            }
        });      
    });

</script>

<script>
$('body').on('click','.edit_member',function(){
        var item_id = $(this).attr('item_id');
        console.log("Item ID is : "+ item_id);
        var csrf_token     = $('input[name="csrfmiddlewaretoken"]').val();
        // console.log("csrf_token is : "+ csrf_token);
          $.ajax({
            url: "{% url 'sokohaliAdmin:local_dist_member_edit'  %}",
            type: "POST",
            data: {"item_id":item_id, "csrfmiddlewaretoken":csrf_token},


            success: function(data){
                // console.log("GOT HERE")
                $('#editMemberModal').replaceWith(data);
                $('#editMemberModal').modal('show');
                // console.log("GOT HERE2")
            },
            error: function(data){
                console.log("Not working");
            }
        });      
    });

</script>
{% endblock %}
