{% extends "adminBase/base_index.html" %}
{% load staticfiles %}
{% load custom_filters %}
{% load humanize %}
{% load activelink %}

{% block title  %}{{ payment_type|title }} Subscriber Profile {% endblock %}

{% block custom-styles %}
<style>

	/*div.sidebar-link:hover{
		background-color: #E3E3E3;
	}*/
	select {
			height: 45px;
			min-width: 200px;
			padding: 0;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			line-height: 48px;
			color: rgb(121, 121, 121);
			border: none;
			box-shadow: none;
			padding-left: 15px;
			border: 2px solid rgb(231, 231, 231);
			background: rgb(245, 245, 245);
			min-width: 355px;
			float: left;
			position: relative;
			left: 17px;
			margin-top: 40px;
			}

	.select-hidden {
		/*visibility: hidden;*/
		visibility:visible;
		padding-right: 10px;
		float: left;
	}

	.select-options{
		display:none;
	}

	.select-styled{
		display: none;
	}
</style>

{% endblock %}

{% block body %}<body>{% endblock %}
{% block navbar %}
{% endblock %}

	{% block searchbar %}
		<div class="searchbar">
			<div class="container">
				<div class="col-md-12">
					<input type="text" />
					<i class="fa fa-search t" aria-hidden="true"></i>
					<span class="bar"></span>
				</div>
			</div>
		</div>
	{% endblock %}

			{% block sticky_warning %}
				<div class="sticky_msg">
						<div class="container">

								<div class="col-md-12">


										<div class="alert" role="alert">
												<h3><strong>Profile Details | <a href="{% url 'general:subscriber_edit_profile'  request.user.username %}">Edit Details</a></strong></h3>
												<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												{% for msg in messages %}
													<blockquote style="padding-left: 15px;" class="text-{{ msg.tags }} bg-{{ msg.tags }}">{{ msg }}</blockquote>
												{% endfor %}

										</div>
										<!-- Alert Warning -->
								</div>
						</div>
				</div>
		{% endblock %}


{% block inner_content %}
<div class="inner">
	<!-- Scrollable Content -->
	<div class="scrollable">
		<div class="container" id="register">
			<!-- Regular Account -->
			<div class="center">

				<!-- <h1 style="text-align:center;">Your profile details
					% if not request.user.is_staff %}| <a href="% url 'general:subscriber_edit_profile'  request.user.username %}">Edit</a>% endif %}
				</h1> -->

				<div class="scrollable" style="overflow: auto;" >
					<div class="col-md-9" style="padding: 11px 0px;">
						<div class="col-md-6 info">
							<span><strong>First Name:</strong></span>
						</div>
						<div class="col-md-6 info">
							<span><strong>{{ profile.user.first_name }}</strong></span>
						</div>
					</div>

					<div class="col-md-9" style="padding: 11px 0px;">
						<div class="col-md-6 info">
							<span><strong>Last Name:</strong></span>
						</div>
						<div class="col-md-6 info">
							<span><strong>{{ profile.user.last_name }}</strong></span>
						</div>
					</div>

					<div class="col-md-9" style="padding: 11px 0px;">
						<div class="col-md-6 info">
							<span><strong>Username:</strong></span>
						</div>
						<div class="col-md-6 info">
							<span><strong> {{ profile.user.username}}</strong></span>
						</div>
					</div>

					<div class="col-md-9" style="padding: 11px 0px;">
						<div class="col-md-6 info">
							<span><strong>E-mail:</strong></span>
						</div>
						<div class="col-md-6 info">
							<span><strong> {{ profile.user.email}}</strong></span>
						</div>
					</div>

					<div class="col-md-9" style="padding: 11px 0px;">
						<div class="col-md-6 info">
							<span><strong>Adddress1:</strong></span>
						</div>
						<div class="col-md-6 info">
							<span> {% if profile.address1 %} <strong>{{ profile.address1}}</strong> {% endif %}</span>
						</div>
					</div>

					<div class="col-md-9" style="padding: 11px 0px;">
						<div class="col-md-6 info">
							<span><strong>Adddress2:</strong></span>
						</div>
						<div class="col-md-6 info">
							<span> {% if profile.address2 %} <strong>{{ profile.address2}}</strong> {% endif %}</span>
						</div>
					</div>

					<div class="col-md-9" style="padding: 11px 0px;">
						<div class="col-md-6 info">
							<span><strong>City:</strong></span>
						</div>
						<div class="col-md-6 info">
							<span> {% if profile.city %} <strong>{{ profile.city }}</strong> {% endif %}</span>
						</div>
					</div>

					<div class="col-md-9" style="padding: 11px 0px;">
						<div class="col-md-6 info">
							<span><strong>State:</strong></span>
						</div>
						<div class="col-md-6 info">
							<span> {% if profile.state %} <strong>{{ profile.state }}</strong> {% endif %}</span>
						</div>
					</div>

					<div class="col-md-9" style="padding: 11px 0px;">
						<div class="col-md-6 info">
							<span><strong>Country:</strong></span>
						</div>
						<div class="col-md-6 info">
							<span> {% if profile.country %}<strong> {{ profile.country }}</strong> {% endif %}</span>
						</div>
					</div>

					<div class="col-md-9" style="padding: 11px 0px;">
						<div class="col-md-6 info">
							<span><strong>Telephone:</strong></span>
						</div>
						<div class="col-md-6 info">
							<span> {% if profile.phone_number %} <strong>{{ profile.phone_number }}</strong> {% endif %}</span>
						</div>
					</div>

					<div class="col-md-9" style="padding: 11px 0px;">
						<div class="col-md-6 info">
							<span><strong>Zipcode:</strong></span>
						</div>
						<div class="col-md-6 info">
							<span> {% if profile.zip_code %}<strong> {{ profile.zip_code}}</strong> {% endif %}</span>
						</div>
					</div>

					<div class="col-md-9" style="padding: 11px 0px;">
						<div class="col-md-6 info">
							<span><strong>Password:</strong></span>
						</div>
						<div class="col-md-6 info">
							<span><strong>xxxxxx</strong> {% if not request.user.is_staff %}<a href="{% url 'general:change_password' %}" style="color: blue;">[Change Password]</a></span>{% endif %}
						</div>
					</div>
					<div class="col-md-9" style="padding: 11px 0px;">
						{% if profile.photo_id %}
						<div class="col-md-6 info">
							<span><strong>Photo ID:</strong></span>
						</div>
						{% endif %}
						<div class="col-md-6 info">
							{% if profile.photo_id %}
							<span><a href="{{ profile.photo_id.url}}" target="_blank"><strong>View</strong></a></span>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<!-- Regular Account -->
		</div>
	</div>
</div>

{% endblock %}



