 {% extends 'setup/add-service.html' %}
{% load staticfiles %}
<!-- progress_bar_width -->
<!--    style="width: 177px;"-->
<!-- endblock -->

{% block progress_bar_width %}
    style="width: 100px;"
{% endblock %}

{% block custom-styles %}
    {{ block.super}}
    <style>
        .row-fluid h4{ font-weight: 600 !important; font-size: 18px !important;}
        .service .col-md-12{padding-top: 60px !important; padding-left: 18px !important; padding-right: 18px !important;}
        .col-md-12.blur h1, p, strong {color: #ebebeb !important;}
        
        .serv_black{
            border-color: black !important;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

<!--block left_div 
    <div class="left">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" progress_bar_width style="width: 25%;"  endblock >
               <span></span>
            </div>
        </div>
    </div>
 endblock -->

{% block back_nxt_div %}
    <div class="right">
        <div class="bt prv">
            <!--<a href="#">Back</a>-->
            <a href="{% url 'service_provider:start_setup' %}" style="color: #000; text-decoration: none;"><i class="fa fa-long-arrow-left" aria-hidden="true" style="margin-right:15px;"></i> Back</a>
        </div>
        <div class="bt nxt hidden">
            <a href="{% url 'service_provider:add_service' 'shipping' %}?page=1"style="color: #27ae60; text-decoration: none;">Next <i class="fa fa-long-arrow-right" aria-hidden="true" style="margin-left:15px;"></i></a>
        </div>
    </div>
{% endblock %}

{% block inner_page_content %}
<!-- Page Inner Content/Changes -->
    <div class="page-content active" id="pgfirst">
        <div class="header">
    
            <div class="left">
                <h1 style="line-height: 44px !important;">Select a service</h1>
                
            </div>
            <!-- Right Status -->
            <!--<div class="right">
                <span class="label yellow" style="float:left;">
                    !
                </span>
         url 'service_provider:add_service' 'shipping' page=1
                <h2><a href="{% url 'service_provider:select_service' %}" style="color: #000;">Select Service</a></h2>
            </div>-->
            <!-- Right Status -->
    
        </div>
        <div class="pagect two">
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus, augue non bibendum aliquet, risus ipsum laoreet metus, at pulvinar sem nulla at erat. Aenean ac elit ac felis laoreet malesuada.</p>-->
            
            <!-- Services Row class "hid" when hidden -->
                        <div class="page sv" style="margin-top: 0px !important; width: 130% !important;">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="service">
                                        <div class="img">
                                            <!--<img src="{% static 'soko-admin/img/ibk1.png' %}" class="im" />-->
                                            <div class="circle">
                                                <!--<img src="{% static 'soko-admin/img/icon1l.png' %}" />-->
                                            </div>
                                        </div>
                                        <div class="col-md-12 blur">
                                            <h1>Shopping Services</h1>
                                            <p>Shop for your customers. They pay locally, you buy and deliver - <strong>from $50/month</strong></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="service green">
                                        <a href="#">
                                            <div class="img">
                                                <div class="circle">
                                                    <img src="{% static 'soko-admin/img/icon2l.png' %}" />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h1>Shipping Services</h1>
                                                <p>Your customers drop off, deliver from shop or location. You ship - <strong>from $50/month</strong></p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="service">
                                        <div class="img">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="col-md-12 blur">
                                            <h1>Market Place</h1>
                                            <p>Add inventory of popular items. Your customers click to buy. You deliver - <strong>from $25/month</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
        </div>
        
    </div>
    <!-- Page Inner Content/Changes -->
{% endblock %}


{% block script %}
    {{ block.super }}
    
    <script>
         $('.service.green').click(function(){
            $('.service.green').removeClass('serv_black')
            //$(this).css('border-color', 'black')
            $(this).toggleClass('serv_black');
            $('.bt.nxt').removeClass('hidden');
            //console.log('here')
         })
    </script>
   
{% endblock %}