<div id="matchingusers_{{identifier}}"  style="position:relative; bottom:150px;" class="span12" style="padding-top: 20px; padding-bottom: 20px;">
    
        <table width="100%" border="0" class="table table-striped" id="matching_users_table">
            {% if users %}
            <tr>
                    <th width="50">Action</th>
                    <th width="100">User</th>
                    <th width="100">First Name</th>
                    <th width="100">Last Name</th>
                    <th width="100">Email</th>
                    
            </tr>
            {% endif %}
            
            {% for user in users %}
            <tr>
                    <td width="20"><input type="radio" name="user_id" user_id="{{user.pk}}" class="user_pk" id="id_user_id" value="{{user.pk}}" style="position:relative; right:5px;"></td>
                    <td width="100">{{ user.user.username}}</td>
                    <td width="100">{{ user.first_name }}</td>
                    <td width="100">{{ user.last_name }}</td>
                    <td width="100">{{ user.user.email }}</td>
                   
            </tr>
            
            <input class="hidden" type="text" id="admin_create_pck_for_user_pk" value="">
            {% empty %}
            <h3 style="color:red">No matching user(s)found.</h3>
            {% endfor %}
            
        </table>
</div>
