{% extends "adminBase/base_index.html" %}
{% load staticfiles %}
{% load custom_filters %}
{% load humanize %}
{% load account_standing %}
{% block title  %}Shopping{% endblock %}


{% block set_up %}
<li>
    <a href="{% url 'general:profile' user.username %}"><span><i class="fa fa-user" aria-hidden="true"></i></span>My Profile</a>
</li>
<li>
    <a href="{% url 'sokohaliAdmin:help' %}"><span><i class="fa fa-user" aria-hidden="true"></i></span>Help</a>
</li>
{% endblock set_up %}

{% block custom-styles %}
    <title>Sokohali - Shopping</title>
    <style>
    input[type="number"] {
    height: 48px !important;
    min-width: 200px;
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 48px;
    color: rgb(121, 121, 121);
    border: none;
    box-shadow: none;
    padding-left: 15px;
    border: 2px solid rgb(231, 231, 231);
    background: rgb(245, 245, 245);
    min-width: 100%;
    float: left;
    position: relative;
}

    select {
    height: 48px !important;
    min-width: 200px;
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 48px;
    color: rgb(121, 121, 121);
    border: none;
    box-shadow: none;
    padding-left: 15px;
    border: 2px solid rgb(231, 231, 231);
    background: rgb(245, 245, 245);
    min-width: 100%;
    float: left;
    position: relative;
}

input[type="date"] {
     -webkit-align-items: center;
     display: -webkit-inline-flex;
     font-family: monospace;
     overflow: hidden;
     padding: 0;
     -webkit-padding-start: 1px;
     &::-webkit-datetime-edit {
      padding: 1em;
  }

  &::-webkit-inner-spin-button {
   display: none;
   }
}



#id_rate_per_lb_D {
   min-width:35px!important;
}

.select-styled2{
   height: 48px !important;
    min-width: 35px;
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 48px;
    color: rgb(121, 121, 121);
    border: none;
    box-shadow: none;
    padding-left: 15px;
    border: 2px solid rgb(231, 231, 231);
    background: rgb(245, 245, 245);
    float: left;
    position: relative;
   }

   textarea {
      width: 300px;
      height: 120px;
    }
    </style>

 <!-- {% include 'adminBatch_snippet/batchstyles.html' % -->

{% endblock %}

{% block body %}<body>{% endblock %}

    {% block searchbar %}
       <div class="searchbar">
        <form action="{% url 'sokohaliAdmin:search' %}" method="GET" id="usersearch">
            <div class="container">
                <div class="col-md-12">
                    <input type="text" name="page" class="hidden" value="userpage" />
                    <input type="text" placeholder="Search for orders or shipments, e.g. Order OR235533" name="input_value" />
                    <i class="fa fa-search t" aria-hidden="true"></i>
                    <span class="bar"></span>
                </div>

                <div class="search_filter">
                    <!-- <p class="htitle">Filter by:</p>
                    <select id="type" name = 'value'>
                        <option value="hide">Type</option>
                        <option value="2010">Package</option>
                        <option value="2011">Order</option>
                        <option value="2012">Shipment</option>
                        <option value="2013">User</option>
                    </select> -->

                    <div class="datepickerdemoBasicUsage">
                        <p style="position:relative; left:40px; bottom:25px;">From:</p>
                           <input type="date"  name="from" style="position:relative; border-radius:8px; top: 3px; width: 35%; height:30px; background-color:#D76358; border: 1px solid #D76358;"/>
                        <p style="position:relative; left:180px; bottom:25px;">To:</p>
                           <input type="date" name="to" style="background-color:#D76358; position:relative; border-radius:8px; top:3px; width:35%; height:30px; left: 33px; border: 1px solid #D76358;"/>
                    </div>
                    <div class="longselect">
                        <a id="search" class="btn btn-xs" onclick="document.getElementById('usersearch').submit()" style="margin:15px 0px 0px 15px; padding:0px 20px; font-size: 14px; min-width:100px; border-radius:12px; height:48px;">Search</a>
                    </div>

                </div>
            </div>
        </form>
        </div>
    {% endblock %}

    {% block sticky_warning %}
        <div class="sticky_msg">
            <div class="container">

                <div class="col-md-12">

                    <!-- Alert Warning -->
                    <div style="margin:15px 0px 5px 0px;">
                    {% for msg in messages %}
                        <script>
                            function show_alert(){
                            var alert = '<blockquote style="padding-left: 15px;" class="text-{{ msg.tags }} bg-{{ msg.tags }}">{{ msg }}</blockquote>';
                            document.write(alert);
                            }
                            display = window.setTimeout(show_alert(), 1000);
                            window.clearTimeout(display);
                        </script>
                    {% endfor %}
                    </div>
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Warning! You have {% userCount request 'Unverified' %} Account(s) to VERIFY and ACTIVATE their Shipping Address!!!</strong>
                        <a href="{% url 'sokohaliAdmin:sidebar' 'unverified' %}" class="fix">Verify User<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <!-- Alert Warning -->
                </div>
            </div>
        </div>
    {% endblock %}

    {% block inner_content %}
        <div class="inner">
            <!-- Scrollable Content -->
            <div class="scrollable">

                <div class="container">
                    <div class="row-fluid">
                        <div class="col-md-3" style="position:relative;">
                            <div id="sticky_left">
                                <div class="panel filters col-md-12" style="position:relative; height:380px; bottom:20px;">
                                    <h2 style="position:relative; bottom:20px">Filter By:</h2>
                                    <ul>
                                        <li class="active" style="position:relative; bottom:55px;">
                                            <a href="{% url 'general:add_inventory' %}">All <span class="badge">{{ itemcount }}</span></a>
                                        </li>
                                        <li style="position:relative; bottom:75px;">
                                            <a href="{% url 'general:inv_sidebar_category' %}">Category <span class="badge">{{item}}</span></a>
                                        </li>
                                        <li style="position:relative; bottom:95px;">
                                            <a href="{% url 'sokohaliAdmin:sidebar' 'address_activation' %}">Address Activated <span class="badge">{% userCount request 'Address_activation' %}</span></a>
                                        </li>
                                        <li style="position:relative; bottom:115px;">
                                            <a href="{% url 'sokohaliAdmin:sidebar' 'Admin' %}">Admin <span class="badge">{% userCount request 'Admin' %}</span></a>
                                        </li>
                                        <li style="position:relative; bottom:135px;">
                                            <a href="{% url 'sokohaliAdmin:sidebar' 'Deactivated' %}">De-Activated <span class="badge">{% userCount request 'De-Activated' %}</span></a>
                                        </li>
                                        <li style="position:relative; bottom:155px;">
                                            <a href="{% url 'sokohaliAdmin:sidebar' 'Flagged' %}">Flagged <span class="badge">{% userCount request 'Flagged' %}</span></a>
                                        </li>
                                        {% if request.user.useraccount.special_user == True or request.user.useraccount.sokohali_admin == True %}
                                        <li style="position:relative; bottom:175px;">
                                            <a href="{% url 'sokohaliAdmin:sidebar' 'staff_access' %}">Staff Access</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                    <div class="col-md-12" style="position:relative; bottom:175px;">
                                        <a href="#" data-toggle="modal" data-target="#CreateinvModal" id="create_user"class="btn black">Add Inventory</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 user_list" style="position:relative;">



                            <!-- <div ng-controller="AppCtrl" class="datepickerdemoBasicUsage" ng-app="MyApp">
                                <md-content>
                                    <md-datepicker ng-model="myDate" md-placeholder="Fecha"></md-datepicker>

                                </md-content>
                            </div> -->

                            {% if all_items %}
                                <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th>S/No</th>
                                        <th>Title</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Sold</th>
                                        <th>Quantity Left</th>
                                        <th>Action</th>
                                        <th>History</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in all_items %}
                                      <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td><a href="#{{product.id}}" class="product_view" item_id="{{product.pk}}" title="View this item">{{product.title}}</a></td>
                                        <td>${{product.price}}</td>
                                        <td>{{product.quantity}}</td>
                                        <td>{{product.sold}}</td>
                                        {% if product.item_remaining < 10 %}
                                        <td style="color:red">{{product.item_remaining}}</td>
                                        {% else %}
                                        <td>{{product.item_remaining}}</td>
                                        {% endif %}
                                        <td><a href="#{{product.id}}" class="manipulate" item_id="{{product.pk}}"><i class="fa fa-pencil-square-o" title="Edit this item" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="{% url 'general:del_inv' product.id %}" onclick="return confirm('Are you sure you want to delete?')"><i class="fa fa-trash-o" title="Delete this item" aria-hidden="true"></i></a></td>
                                        <!-- <td><a onclick='window.open("{% url 'general:inv_history' product.pk %", "invoice", "width=800,height=700,scrollbars=yes,menubar=yes,status=yes,top=10,location=false")' class="view-invoice" style="cursor:pointer;" ><i class="fa fa-history" aria-hidden="true"></i>History</a></td> -->
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                  </table>
                            {% else %}
                            <p>No Product Available</p>
                            {% endif %}

                            <!-- Bottom Sticky with Options -->
                            <div class="bottom_sticky three">
                                <div class="container">

                                    <div class="col-md-9 col-md-offset-3">
                                        <div class="cancel">
                                            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <a href="#" class="long"><i class="fa fa-users" aria-hidden="true"></i>Build Customers</a>
                                        <a href="#" class="long"><i class="fa fa-user-plus" aria-hidden="true"></i>Make Admin</a>
                                        <a href="#" class="long"><i class="fa fa-line-chart" aria-hidden="true"></i>Apply Special Rate</a>
                                        <a href="#"><i class="fa fa-flag" aria-hidden="true"></i>Flag</a>
                                        <a href="#"><i class="fa fa-user-times" aria-hidden="true"></i>Deactivate</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Bottom Sticky with Options -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Scrollable Content -->
            </form>
        </div>
    {% endblock %}

{% block modal %}
    {% include 'admin-snippet/create_inventory.html' %}
    {% include 'admin-snippet/editinv.html' %}
    {% include 'admin-snippet/viewdetail.html' %}



<!--     <div class="modal fade" tabindex="-1" role="dialog" id="SpecialrateModal" style="overflow-y:scroll!important;">

    </div> -->
{% endblock %}

{% block modal_script %}
    <script>
        $('#ProcessModal').modal('hide');
    </script>

<script>
$('body').on('click','.manipulate',function(){
        var item_id = $(this).attr('item_id');
        console.log("Item ID is : "+ item_id);
        var csrf_token     = $('input[name="csrfmiddlewaretoken"]').val();
        // console.log("csrf_token is : "+ csrf_token);
          $.ajax({
            url: "{% url 'general:edit_inv'  %}",
            type: "POST",
            data: {"item_id":item_id, "csrfmiddlewaretoken":csrf_token},


            success: function(data){
                // console.log("GOT HERE")
                $('#EditInvModal').replaceWith(data);
                $('#EditInvModal').modal('show');
                // console.log("GOT HERE2")
            },
            error: function(data){
                console.log("Not working");
            }
        });      
    });


$('body').on('click','.product_view',function(){
        var item_id = $(this).attr('item_id');
        console.log("Item ID is : "+ item_id);
        var csrf_token     = $('input[name="csrfmiddlewaretoken"]').val();
        // console.log("csrf_token is : "+ csrf_token);
          $.ajax({
            url: "{% url 'general:view_item'  %}",
            type: "POST",
            data: {"item_id":item_id, "csrfmiddlewaretoken":csrf_token},


            success: function(data){
                // console.log("GOT HERE")
                $('#ViewInvModal').replaceWith(data);
                $('#ViewInvModal').modal('show');
                // console.log("GOT HERE2")
            },
            error: function(data){
                console.log("Not working");
            }
        });      
    });

function myFunction() {
    location.reload();
}
</script>
{% endblock %}

{% block script %}
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-messages.min.js'></script>
    <!--<script src="{% static 'soko-admin/js/angular-material.js' %}"></script>-->
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>
    <script src="{% static 'soko-admin/js/index.js' %}"></script>





{% endblock %}
