{% extends "zeroelectricac/product_view.html" %}
{% load staticfiles %}
{% load zeAC_custom_filters %}


{% block title %}zeAC - Product Details {% endblock %}

{% block contents %}

{% block recommend %}
{% endblock recommend %}

<section class="products product_view">

        <style>
            
            .product_view .box .btns .btn {
                max-width: 120px;
                float: right;
                margin-top: 22px;
            }

            
        </style>
        
        <div class="container-fluid">

            <!-- box -->
            <div class="col-md-12">
                <div class="box">
                    <!-- left side -->
                    <div class="col-md-5">
                        <div class="prod_slider">
                            <div class="slider_inner">
                                <img src="{{itemDetail.item_image.url}}" style="width:100%; margin-top: 0px;" id="item_images"/>
                            </div>
                        </div>
                        <div class="col-md-12 btns">
                            <h3>${{itemDetail.price}}</h3>
                        </div>
                    </div>
                    <div class="hidden">
                       <form id="cartForm" action="{% url 'general:add_to_cart' %}" method="POST">
                          {% csrf_token %}
                          <!-- <img src="{{itemDetail.item_image.url}}" name="item_image" id="item_image"/> -->
                          <input type="text" name="item_image" id="item_image" value="">
                          <input type="text" name="item_qty" id="item_qty" value="">
                          <input type="text" name="item_id" id="item_id" value="">
                          <input type="submit" value="submit"> 
                       </form> 

                    </div>
                    <!-- left side -->
                    <!-- right side -->
                    <div class="col-md-7">

                        <style>
                            .qty{

                                position: relative;
                                left: 55px;
                            }
                        </style>

                        <h3>{{itemDetail.title}}</h3>
                        <p>{{itemDetail.specifications}}</p><br>

                        
                        <p class="green" style="position: relative; margin-top: -30px;">Contains one package:</p>
                        <ul>
                            {% for item_desc in brief_desc %}
                            <li>
                                <p>{{item_desc}}</p>
                            </li>
                            {% endfor %}
                        </ul>
                        

                        <label class="qty">Quantity</label><br>
                        <input class="qty" type="number" name="quantity" id="qty" min="1" value="">
                        
                        <a item_id="{{itemDetail.pk}}" class="full green addToCart pull-right"
                         style="cursor: pointer;">Add to Cart</a>
                        <!-- <input type="submit" value="Add to Cart" class="full green addToCart pull-right" style="cursor: pointer;"> -->
                        <div class="bot">
                            <div class="circle">
                                <i class="fa fa-truck" aria-hidden="true"></i>
                            </div>
                            <div class="circle">
                                <i class="fa fa-recycle" aria-hidden="true"></i>
                            </div>
                            <div class="circle">
                                <i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <!-- right side -->
                </div>
            </div>
            <!-- box -->
            <div class="col-md-12">
                <div class="title">
                    <h3>Recommended Products:</h3>
                </div>
            </div> 

            <div class="col-md-12 recommended">
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-4">
                        <!-- box -->
                        <div class="box">
                            <a href="{% url 'general:detail_view' product.pk %}" class="prodv">
                                <div class="img">
                                <img src="{{product.item_image.url}}" style="width:100%;"/>
                                </div>
                                <div class="text">
                                    <h5>
                                        {{ product.title }}</h5>
                                    
                                </div>
                            </a>
                            <!-- <button class="testButton" style="margin-left: 150px;margin-bottom: 15px;">Add to cart</button> -->
                        </div>
                        
                    </div>
                    {% empty %}
                    <p>No product added</p>
                    {% endfor %}
                </div>

                <div class="pagination" style="position:relative; font-size:20px; margin:0px; ">
                    <span class="step-links">
                        {% if products.has_previous %}
                            <a style="font-size:20px;" href="?page={{ products.previous_page_number }}">&laquo;</a>
                        {% else %}
                            <a style="font-size:20px;" class="hidden" >&laquo;</a>

                        {% endif %}

                        <span style="font-size:20px;" class="current">
                            Page {{ products.number }} of {{ products.paginator.num_pages }}.
                        </span>

                        {% if products.has_next %}
                            <a style="font-size:20px;" href="?page={{ products.next_page_number }}">&raquo;</a>
                        {% else %}
                            <a style="font-size:20px;" class="hidden">&raquo;</a>

                        {% endif %}
                    </span>
                </div> 

                <!-- <div class="row">
                    <div class="col-md-12 more" style="text-align:center; padding-top:20px;">
                        <a href="#" class="btn full yellow">View More Products</a>
                    </div>
                </div> -->
            </div>
        </div>
</section>

{% endblock contents %}
