<style>
                                    
    .navbar .dropdown .dropdown-menu {
        background: #fff;
        border: 2px solid #2dcc70;
        border-color: rgb(51, 51, 51);
        min-width: 240px;
        left: auto;
        right: 0;
        box-shadow: 0 20px 50px 0 rgba(32, 35, 68, 0.1);
        margin-top: 6px;
        padding: 0;
    }
    
    .navbar .dropdown .dropdown-menu li.header {
        border-bottom: 1px dashed rgb(221, 221, 221);
    }
    
    .navbar .dropdown .dropdown-menu li {
        min-height: 50px;
        padding: 15px;
    }
    
    .navbar .dropdown .dropdown-menu li.btns {
           border-top: 1px dashed rgb(221, 221, 221);

    }
    
    .navbar .dropdown .dropdown-menu li a{
        color: rgb(141, 141, 141);
    }
    
    .dropdown-menu>li>a {
        padding-left: 0;
        padding-right: 0;
    }
    
    .dropdown-menu>li>a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        white-space: nowrap;
    }
    
    a {
        color: #337ab7;
        text-decoration: none;
    }
    
    a {
        background-color: transparent;
    
    }
    
    .navbar .dropdown .dropdown-menu li .one, .page .window .card.two .one {
        font-weight: 500;
        color: #000;
        height: 32px;
        line-height: 32px;
    }
    
    .navbar .dropdown .dropdown-menu li .two, .navbar .dropdown .dropdown-menu li p span, .page .window .card.two .two {
        font-weight: 500;
        color: #2dcc70;
        padding-right: 15px;
    }

    
</style>