 <style>
                                        
    .btn.green.full {
        background: #2dcc70;
        color: #fff;
    }
    .navbar .dropdown button {
        min-width: 50px;
        width: 50px;
        position: relative;
        padding-left: 0px;
        text-align: center;
    }
    .btn.green {
        border-color: #2dcc70;
        color: #2dcc70;
    }
    .btn {
        height: 50px;
        line-height: 48px;
        padding: 0 45px;
        background: #fff;
        border: 2px solid rgb(231, 231, 231);
        color: rgb(231, 231, 231);
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
    }
    
    .navbar .dropdown .btn span {
        position: absolute;
        right: -15px;
        top: -15px;
        height: 30px;
        width: 30px;
        line-height: 25px;
        color: #fff;
        background: #f1c40f;
        border: 3px solid #fff;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }
    
    .navbar .dropdown button .fa {
        font-size: 16px;
        width: 45px;
        text-align: center;
    }
    
    .navbar .dropdown .dropdown-menu{
        background: #fff;
        border: 2px solid #2dcc70;
        border-color: rgb(51, 51, 51);
        min-width: 240px;
        left: auto;
        right: 0;
        box-shadow: 0 20px 50px 0 rgba(32, 35, 68, 0.1);
        margin-top: 6px;
        padding: 0;
    }
    
    
    .navbar .dropdown .dropdown-menu li {
        min-height: 50px;
        padding: 15px;
    }
    
    
    .navbar .dropdown .dropdown-menu li.header {
        border-bottom: 1px dashed rgb(221, 221, 221);
    }
    
    
    .navbar .dropdown .dropdown-menu li.header .fa {
        font-size: 16px;
    }
    
    
    .navbar .dropdown .dropdown-menu li.header .badge {
        background: #f1c40f;
        font-weight: 500;
        margin-top: -1px;
        margin-left: 2px;
        position: relative;
        overflow: visible;
    }
    
    
    .navbar .dropdown .dropdown-menu li.header p {
        float: right;
    }
    
    dropdown .dropdown-menu li .two, .navbar .dropdown .dropdown-menu li p span, .page .window .card.two .two {
        font-weight: 500;
        color: #2dcc70;
        padding-right: 15px;
    }
</style>