    <tr>
        <th>Client Name</th>
        <td>{{marketer_name}}</td>
    </tr>
     <tr>
        <th>Total Packages</th>
        <td>{{route.get_pkgs_in_chain.count}}</td>
    </tr>
     <tr>
        <th>Number of Processed Packages</th>
        <td>{{route.get_pkgs_in_chain_processed.count}}</td>
    </tr>
     <tr>
        <th>Number of Unprocessed Packages</th>
        <td>{{route.get_pkgs_in_chain_unprocessed.count}}</td>
    </tr>
     <tr>
        <th>Total amount Paid by clients</th>
        {% if not route.get_pkgs_in_chain_total_amount_paid = Null %}
            <td>$ {{route.get_pkgs_in_chain_total_amount_paid|floatformat:2|intcomma }}</td>
        {% else %}
            <td>$ 0.00</td>
        {% endif %}
    </tr>
     <tr>
        <th>Total balance for packages by clients</th>
        {% if not route.get_pkgs_in_chain_total_balance = Null %}
            <td>$ {{route.get_pkgs_in_chain_total_balance|floatformat:2|intcomma }}</td>
        {% else %}
            <td>$ 0.00</td>
        {% endif %}
    </tr>
     <tr>
        <th>Total Value of Packages</th>
        {% if not route.get_pkgs_in_chain_total_amount_payable = Null %}
            <td>$ {{route.get_pkgs_in_chain_total_amount_payable|floatformat:2|intcomma }}</td>
        {% else %}
            <td>$ 0.00</td>
        {% endif %}
    </tr>
    <tr>
        <th>Processing Warehouse Total Fee</th>
        {% if not route.get_pkgs_in_chain_processing_fee = Null %}
            <td>$ {{route.get_pkgs_in_chain_processing_fee|floatformat:2|intcomma}}</td>
        {% else %}
            <td>$ 0.00</td>
        {% endif %}
    </tr>
    <tr>
        <th>Gross Income</th>
        <td>$ {{route.get_gross_income|floatformat:2|intcomma}}</td>
    </tr>
     <tr>
        <th>Processing Warehouse Name</th>
        <td>{{route.origin_warehouse}}</td>
    </tr>
     <tr>
        <th>Processing Warehouse Phone NUmber</th>
        <td>{{route.origin_warehouse.phone_number}}</td>
    </tr>