{% extends "adminBase/base_index.html" %}
{% load staticfiles %}
{% load custom_filters %}
{% load humanize %}
{% load activelink %}

{% block title  %}{{ payment_type|title }} Dashboard {% endblock %}

{% block custom-styles %}
<style>

    /*div.sidebar-link:hover{
        background-color: #E3E3E3;
    }*/

</style>

{% endblock %}

{% block body %}<body>{% endblock %}

  {% block searchbar %}
      <div class="searchbar">
          <div class="container">
              <div class="col-md-12">
                  <input type="text" />
                  <i class="fa fa-search t" aria-hidden="true"></i>
                  <span class="bar"></span>
              </div>



          </div>
      </div>
  {% endblock %}

    {% block sticky_warning %}
        <div class="sticky_msg">
            <div class="container">

                <div class="col-md-12">


                    <div class="alert" role="alert">
                        <h3><strong>Dashboard</strong></h3>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {% for msg in messages %}
                          <blockquote style="padding-left: 15px;" class="text-{{ msg.tags }} bg-{{ msg.tags }}">{{ msg }}</blockquote>
                        {% endfor %}

                    </div>
                    <!-- Alert Warning -->
                </div>
            </div>
        </div>
    {% endblock %}

    {% block inner_content %}
        <div class="inner">
            <!-- Scrollable Content -->
            <div class="scrollable">

                <div class="container">
                    <div class="row-fluid">

                        <!-- Main Category Product -->
                            <div class="col-md-12 pageh two" id="analytics" style="position:relative;">

                                <!-- % for route in marketer_routes %}

                                    <h4 style="position: relative; left: 17px">Route: oute.origin }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i>  route.destination }}</h4> -->

                                    <div class="it_outera">
                                    <!-- <div class="col-md-12 litem l">
                                        <div class="col-md-12 hitem">                                            
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <h4><p><strong>Total Number of Orders:</strong></p></h4>                                         
                                                </div>                                       
                                               
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="col-md-3 litem">
                                        <div class="col-md-12 hitem sidebar-link">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <p><strong>Total Packages</strong></p>
                                                      <h4></h4>
                                                </div>                                       
                                               
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 litem">
                                        <div class="col-md-12 hitem sidebar-link">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <h4></h4>
                                                    <p><strong>Processed Packages</strong></p>
                                                       
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 litem">
                                        <div class="col-md-12 hitem sidebar-link">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <h4></h4>
                                                    <p><strong>Unprocessed Packages</strong></p>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 litem">
                                        <div class="col-md-12 hitem sidebar-link">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <h4></h4>
                                                    <p><strong>Total Amount</strong>                                              
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 litem">
                                        <div class="col-md-12 hitem sidebar-link">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <h4></h4>
                                                    <p><strong>Total Amount Paid</strong></p>
                                                </div>                                       
                                               
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 litem">
                                        <div class="col-md-12 hitem sidebar-link">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <h4></h4>
                                                    <p><strong>Balance</strong>
                                                      
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 litem">
                                        <div class="col-md-12 hitem sidebar-link">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <h4></h4>
                                                    <p><strong>Processing Warehouse</strong></p>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 litem">
                                        <div class="col-md-12 hitem sidebar-link">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <h4></h4>
                                                    <p><strong>Shipping Member</strong></p>                                              
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>
                                    </div>

<!--                                  {% endfor 
 -->
                            </div>
                        <!-- Main Category Product -->

                    </div>
                </div>
            </div>

            <!-- Scrollable Content -->

            <div class="loading">
            </div>

        </div>
    {% endblock %}

{% block modal %}
{% endblock %}

{% block custom_select %}
{% endblock %}

{% block script %}
{% endblock %}
