{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
</head>
<body>

<table style="width:100%">
  <caption>History</caption>
  <tr>
    <th>Date</th>
    <th>Description</th>
  </tr>
  {% for instance in history %}
  <tr>
    <td>{{instance.created_on}}</td>
    <td>{{instance.obj_description}} by {{instance.user}}</td>
  </tr>
  {% endfor %}
</table>

</body>
</html>